/* CSS code for my personal porfolio webiste */
body {
  background-color: #c5cdf2;
}
/* This code formats the header of the website.*/
header {
  margin-bottom: 20px;
  position: static;
  height: 230px;
  width: 100%;
}
/* This code formats the only section in the website. */
.main-section {
  border-top: 5px solid #7d97ad;
}
/* This code formats the text in the header. */
.header-id {
  text-transform: uppercase;
  float: right;
  font-family: "Raleway", sans-serif;
  height: 100%;
}
/* This code formats the name in the header only. */
#name {
  font-size: 5em;
  margin-top: 60px;
  margin-bottom: 10px;
  font-stretch: expanded;
  font-weight: lighter;
}
/* This code formats the title in the header only. */
#title {
  margin-top: 10px;
  text-align: right;
}
/* This code formats my personal picure in the header. */
.header-picture {
  margin: 15px;
  border-radius: 50%;
  width: 12%;
  height: auto;
  max-width: 100%;
  display: block;
  float: left;
}
/* This code formas the main picture in the main section of the website. */
.main-picture {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  padding-top: 40px;
  padding-bottom: 10px;
}
/* This code formats the heading in the main section of the website. */
.project-section-title {
  font-size: 2.5em;
  font-family: helvetica;
  font-weight: lighter;
  color: #4298a4;
  text-align: center;
}
/* This code formats the projects element, which contains all the projects in it.. */
.projects-section {
  width: 100%;
  display: flex;
  justify-content: center;
}
/* This code formats the project element. */
.project {
  width: 25%;
  height: 37%;
  margin: 2%;
  border: 1px solid black;
  background-color: white;
}
/* This code formats all project pictuse in the project element */
.project-picture {
  height: auto;
  width: 100%;
  max-width: 100%;
  display: block;


}
/* This code formats the project name in project elements. */
.project-name {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.3em;
  font-weight: lighter;
  color: #2d3c49;
  font-family: helvetica;
  margin-top: 15px;
  margin-bottom: 7px;
}
/* This code centers the centers to link in the projects element. */
.project-link {
  margin-left: 45%;
  margin-right: 45%;
  margin-top: 5px;
}
/* This code changes the format when the width is 900px or less. */
@media screen and (max-width: 900px) {
  .project-name {
    font-size: 1em;
  }
  .projects-section {
    display: block;
    margin: auto;
  }
  .project {
    width: 80%;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
  }
}
/* This code changes the format when the width is 600px or less. */
@media screen and (max-width: 740px) {
  #name {
    font-size: 2.6em;
  }
}
