/* CSS code for my personal porfolio webiste */
body {
  background-color: #C5CDF2;
}
/* This code formats the header of the website.*/
header {
  margin-bottom: 20px;
  position: static;
  height: 25%;
  width: 100%;
}
/* This code formats the only section in the website. */
.main-section {
  border-top: 5px solid #7d97ad;
}
/* This code formats the text in the header. */
.header-id {
  text-transform: uppercase;
  float: right;
  font-family: 'Raleway', sans-serif;
  height: 100%;
}
/* This code formats the name in the header only. */
#name {
  font-size: 5em;
  margin-top: 40px;
  margin-bottom: 10px;
  font-stretch: expanded;
  font-weight: lighter;
}
/* This code formats the title in the header only. */
#title {
  margin-top: 10px;
  text-align: right;
}
/* This code formats my personal picure in the header. */
.header-picture {
  margin: 15px;
  border-radius: 50%;
}
/* This code formas the main picture in the main section of the website. */
.main-picture {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 30px;
}
/* This code formats the heading in the main section of the website. */
.project-section-title {
  font-size: 2.5em;
  font-family: helvetica;
  font-weight: lighter;
  color: #4298A4;
  text-align: center;
}
/* This code formats the projects element, which contains all the projects in it.. */
.projects-section {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
/* This code formats the project element. */
.project {
  width: 25%;
  height: 340px;
  margin: 2%;
  border: 1px solid black;
  background-color: white;
}
/* This code formats all project pictuse in the project element */
.project-picture {
  height: 60%;
  width: 100%;
}
/* This code formats the project name in project elements. */
.project-name {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.3em;
  font-weight: lighter;
  color: #2d3c49;
  font-family: helvetica;
  margin-top: 15px;
  margin-bottom: 7px;
}
/* This code centers the centers to link in the projects element. */
.project-link {
  margin-left: 45%;
  margin-right: 45%;
  margin-top: 5px;
}

@media screen and (max-width: 900px) {
  .project-name {
    font-size: 1.5em;
  }
/* This code changes the format when the width is 750 or less. */
@media screen and (max-width: 780px) {
  .projects-section {
    display: block;
  }
  .main-picture {
    display: none;
  }
  .header-picture{
    display: none;
  }
  .project {
    width: 60%;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
  }
  .header-id {
    float: none;
    text-align: center;
  }
  #title {
    text-align: center;
  }
}
/* This code changes the format when the width is 455px or less. */
@media screen and (max-width: 600px) {
  #name {
    font-size: 3em;
  }
  .project-picture {
    display: none;
  }
  .project {
    width: 100%;
    height: 40%;
  }
}
