* {
  border: 1px red;
}
header {
  margin-bottom: 20px;
}
.main-section {
  border-top: 5px solid #7d97ad;
}
.header-id {
  text-transform: uppercase;
  float: right;
  font-family: 'Raleway', sans-serif;
}
#name {
  font-size: 4em;
  margin-top: 40px;
  margin-bottom: 10px;
  font-stretch: expanded;
  font-weight: lighter;
}
#title {
  text-align: right;
  margin-top: 10px;
}
.header-picture {
}
.main-picture {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 30px;
}
.project-section-title {
  font-size: 2.5em;
  font-family: helvetica;
  font-weight: lighter;
}
.projects-section {
  width: 100%;
  display: flex;
}
.project {
  width: 33%;
  margin: 20px;
}
.project-picture {
  height: 40%;
  width: 100%;
}
.project-name {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.3em;
  font-weight: lighter;
  color: #2d3c49;
  font-family: helvetica;
  margin-top: 20px;
}
.project-link {
  width: 90%;
  align-content: center;
}
